mouseinfo==0.1.3
mss==6.1.0
numpy==1.21.4
opencv-python==4.5.4.60
pyautogui==0.9.53
pygetwindow==0.0.9
pymsgbox==1.0.9
pyperclip==1.8.2
pyrect==0.1.4
pyscreeze==0.1.28
pytweening==1.0.4
pyyaml==6.0
python-telegram-bot==13.10
pyclick==0.0.2
imutils==0.5.4
pillow==9.0.0
